html, body {
    margin: 0;
    font-family: sans-serif;
}
img {
    min-height: 32px;
    min-width: 32px;
    max-height:256px;
    max-width: 256px;
    display: block;
}

img.unresolved {
    background:red;
}

#toolbar {
    border-bottom: 1px solid #ccc;
    padding:8px;
}

#reset {
    float:right;
}
.hidden {
    display: none !important;
}

button {
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}

#card {
    padding: 10px;
    display: table;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #ccc;
    padding:8px;
}

#popups {
    position: fixed;
    padding: 16px;
    inset: 16px;
    bottom: auto;
    pointer-events: none;
}

.popup {
    pointer-events: auto;
    padding: 8px;
    color: #fff;
    background: darkslateblue;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 16px;
}