html, body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

img {
    min-height: 32px;
    min-width: 32px;
    max-height:256px;
    max-width: 256px;
    border:solid 2px white;
    outline:solid 4px white;
    outline-offset: -4px;
    padding:4px;
    user-select: none;
}
img.unresolved {
    background:red;
}
img.selected {
    outline-color:dodgerblue;
}

#reset {
    float:right;
}
.hidden {
    display: none !important;
}

button {
    margin-left:2px;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}

.card {
    max-width: 900px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ccc;
    padding:8px;
}

#popups {
    position: fixed;
    padding: 16px;
    inset: 16px;
    bottom: auto;
    pointer-events: none;
}

.popup {
    pointer-events: auto;
    padding: 8px;
    color: #fff;
    background: darkslateblue;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 16px;
    border: 1px solid white;
}